@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/proximanova.woff2') format('woff2'),
        url('../font/proximanova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}