:root {
  --gray: #f0f0f0;
  --night: #16181c;
  --snow: #ffffff; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', 'Heebo', 'Roboto', 'Open Sans', 'Segoe UI', sans-serif; }

div {
  margin: 0;
  padding: 0; }

svg {
  pointer-events: none; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

h1 {
  line-height: 3.5rem;
  font-size: 48px;
  font-weight: 700; }

p, span, pre {
  line-height: 1.75rem; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none; }
  input:focus {
    box-shadow: none;
    outline: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.content {
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  background: var(--snow); }
  .content .section {
    width: 100%;
    height: 100vh;
    display: none;
    position: relative;
    place-items: center; }
  .content .container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 2rem;
    z-index: 99; }
  .content .section-label {
    width: 3.75rem;
    height: 100vh;
    display: grid;
    place-items: center;
    position: absolute;
    left: 1rem;
    color: #fafafa;
    z-index: 9; }
    .content .section-label span {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: 5rem;
      font-weight: 700; }

.dot.active,
.dot:hover {
  color: teal; }

.site-footer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  color: #a5a5a5;
  background: var(--night); }
  .site-footer .sm-text {
    text-transform: uppercase;
    color: var(--snow);
    letter-spacing: 0.20rem; }

.navbar {
  width: 100%;
  height: 3.75rem;
  display: grid;
  position: fixed;
  place-items: center;
  top: 0;
  z-index: 999;
  background: inherit; }
  .navbar .container {
    width: calc(100% - 4rem);
    height: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr; }
  .navbar .nav-col {
    width: 100%;
    display: flex;
    justify-content: center; }
    .navbar .nav-col:nth-child(2), .navbar .nav-col:nth-child(3) {
      display: none; }
    .navbar .nav-col:nth-child(4) {
      display: flex;
      justify-content: flex-end; }

.site-content {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  grid-auto-flow: column;
  position: relative;
  scroll-snap-type: x mandatory;
  overscroll-behavior-y: contain;
  overflow: scroll hidden; }
  .site-content .section {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    place-items: center;
    scroll-snap-align: start; }
    .site-content .section .hero-footer {
      width: 100%;
      height: 3.75rem;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0; }

.container {
  width: 100%;
  height: auto; }

.hero {
  padding: 2rem; }

.row {
  margin: 1rem 0; }

.sidebar {
  width: 6rem;
  height: calc(100vh - 3.75rem);
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: none; }

.sidebar-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar-nav .pointer {
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    border-radius: 50px;
    color: #ffffff;
    background: #a7a7a7;
    cursor: pointer; }
    .sidebar-nav .pointer.active {
      background: teal; }

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Proxima Nova', 'Heebo', 'Roboto', 'Open Sans', 'Segoe UI', sans-serif; }
  button:focus {
    outline: none;
    box-shadow: none; }

.section-button {
  padding: 1rem 2rem;
  border-radius: 0;
  background: var(--night);
  color: var(--snow);
  text-transform: uppercase;
  letter-spacing: 0.10ex; }

.clear_btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background: none; }
  .clear_btn .clear_icon {
    width: 30px;
    height: 2px;
    display: block;
    position: relative;
    background: transparent; }
    .clear_btn .clear_icon::after, .clear_btn .clear_icon::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      transform-origin: center;
      background: var(--night); }
    .clear_btn .clear_icon::after {
      transform: rotate(45deg); }
    .clear_btn .clear_icon::before {
      transform: rotate(-45deg); }

.est_btn {
  padding: 0.5rem 2rem;
  color: var(--snow);
  border-radius: 50px;
  background: var(--night); }

.scro_btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: var(--night); }

#drawer {
  width: 0%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  z-index: 9999;
  visibility: hidden;
  background: var(--snow); }
  #drawer.active {
    width: 100%;
    visibility: visible; }
  #drawer .drawer-nav {
    width: calc(100% - 1rem);
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.error {
  font-size: 0.75rem;
  color: #ee5d5d; }

.estimate_form {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0.5rem 0.5rem;
  background: var(--snow);
  border: 1px solid #dbdbdb;
  border-radius: 50px; }

.form_ctr {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background: transparent; }

#hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none; }
  #hamburger #burger {
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    background: transparent; }
    #hamburger #burger::after, #hamburger #burger::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: var(--night); }
    #hamburger #burger::after {
      top: 4px; }
    #hamburger #burger::before {
      top: -4px; }

.scrolla {
  width: 3rem;
  height: 3rem;
  display: grid;
  position: absolute;
  bottom: 10vh;
  right: 2rem;
  place-items: center;
  border-radius: 50px;
  background: none; }
