#hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;

    #burger {
        width: 24px;
        height: 3px;
        display: block;
        position: absolute;
        background: transparent;

        &::after,
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background: var(--night);
        }

        &::after {
            top: 4px;
        }

        &::before {
            top: -4px;
        }
    }
}